<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CounterBoardDebug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <CounterBoardDebug.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>Two</value>
            </setting>
            <setting name="InverterNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LIBSIPAddress" serializeAs="String">
                <value>192.168.1.30</value>
            </setting>
            <setting name="LIBSPort" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM3</value>
            </setting>
        </CounterBoardDebug.Properties.Settings>
    </userSettings>
</configuration>
