<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LIBSController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LIBSController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <LIBSController.Properties.Settings>
            <setting name="MaxDataCount" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="LEDBlinkInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LIBSIPAddress" serializeAs="String">
                <value>192.168.1.30</value>
            </setting>
            <setting name="LIBSPort" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="LIBSTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>Two</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="FrequencyError" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="LIBSAnalysisMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InverterNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChangeTimer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CheckTimerInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ServerListeningPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="InverterTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="AirNozzleDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConveyorDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LibsDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SignalBlinkInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CounterBoardDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LIBSReadyTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
        </LIBSController.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <LIBSController.Properties.Settings>
            <setting name="MaxMaterialLength" serializeAs="String">
                <value>200</value>
            </setting>
        </LIBSController.Properties.Settings>
    </userSettings>
</configuration>